/*
2023-04-08  for W9-dark 0.39
*/


.titlebar-color{
    color: #f0f0f0;
    background-color: #404041;
}


/*** Proton Tabs Tweaks ***/

#tabbrowser-tabs {
    /*--user-tab-rounding: 6px;*/
}

.tab-background {
    border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important;
    margin-block: 0 !important;
}
.tab-background[selected="true"] {
    background-color: #5c5c5d !important;
    /*border-top:  3px solid #308CC6 !important;*/
    box-shadow: inset 0px 3px 0px #308CC6 !important; 
    background-image: none !important;
}
    
#scrollbutton-up, #scrollbutton-down { /* 6/10/2021 */
    border-top-width: 1px !important;
    border-bottom-width: 0 !important;
}
/* Container color bar visibility */
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
    margin: 0px max(calc(var(--user-tab-rounding) - 3px), 0px) !important;
}


.tabbrowser-tab .close-icon {
    border-radius: 0px !important;
}
.tabbrowser-tab .close-icon:hover {
    fill: white !important;
    border: 1px solid #308CC6 !important;
}

#tabs-newtab-button {
    border-radius: 0px;
}

#tabs-newtab-button:hover {
    fill: white !important;
    box-shadow: inset 0 0 0 1px #308CC6 !important; 
}
